:root {
    --font-primary: "Inter", sans-serif;
    --color-primary: #030712;
    --color-secondary: #F9FAFB;
    --color-tertiary: #10B981;
    --color-border: rgba(0, 0, 0, 0.1);
    --color-button: #10B981;
    --color-task-bg: #D1D5DB;
    --color-task: #111827;
    --color-card: #26313F;
    --font-size: 16px;
}

body{
    background-color: var(--color-primary);
    font-family: var(--font-primary);
}

/* HEADER */
header{
    border-bottom: 1px solid var(--color-border);
    background: var(--color-primary);
}

.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    padding: 16px 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: solid 2px var(--color-button);
    background-color: var(--color-primary);
    z-index: 5;
}

.navbar .logo{
    color: var(--color-secondary);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.6px;
}

.navbar .anchors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.navbar span{
    color: var(--color-task-bg);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.navbar .anchors .download-button{
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--color-button);
    color: var(--color-secondary);
}

/* HERO */
.display{
    display: flex;
    padding: 96px 80px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.hero .hero-container{
    display: flex;
    padding: 0px 32px;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.hero .hero-context{
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.hero .hero-container .hero-context h1{
    color: var(--color-secondary);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
}

.hero .hero-container .hero-context .hero-info{
    display: flex;
    flex-direction: column;
}

.hero .hero-container .hero-context .hero-info i{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.hero .hero-container .hero-context p{
    font-family: var(--font-primary);
    color: var(--color-task-bg);
    width: 700px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    line-height: 25px;
}

.hero .hero-container .hero-context .hero-media{
    display: flex;
    flex-direction: row;
    color: var(--color-secondary);
    font-size: 20px;
    gap: 10px;
}

.hero .hero-container .hero-image{
    display: flex;
    min-width: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
    position: relative;
}

.hero .hero-container .hero-image img{
    border: 8px solid var(--color-primary);
    background: var(--color-task-bg) 50% / cover no-repeat;
    width: 260px;
    height: 320px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.hero .hero-container .hero-image .image-detail {
    position: absolute;
    top: 40px;
    left: 175px; 
    border: 8px solid var(--color-button);
    background: var(--color-primary);
    width: 260px;
    height: 320px;
    flex-shrink: 0;
    z-index: 1; 
}

/* ABOUT */
.about{
    background: var(--color-task);
}

.about .about-container{
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.about .about-container .about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    flex-wrap: wrap;
}

.about .about-container .about-content .about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-container .about-content .about-image img {
    border: 8px solid var(--color-task);
    background: var(--color-task-bg) 50% / cover no-repeat;
    width: 380px;
    height: 480px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.about .about-container .about-content .about-image .img-detail {
    position: absolute;
    top: 20px;
    left: -20px;
    border: 8px solid var(--color-button);
    background: var(--color-task);
    width: 380px;
    height: 480px;
    flex-shrink: 0;
    z-index: 1;
}

.about .about-container .about-content .about-text{
    display: flex;
    min-width: 444px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.about .about-container .about-content .about-text .about-title{
    color: var(--color-secondary);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.6px;
}

.about .about-container .about-content .about-text p{
    color: var(--color-task-bg);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    line-height: 24px;
}

/* SKILLS */
.section{
    display: flex;
    padding: 96px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.skills{
    background: var(--color-primary);
}

.resource-container{
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
}

.skills .resource-container .description .skills-title{
    border-radius: 12px;
    background: var(--color-tertiary);
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    color: var(--color-task-bg);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.skills .resource-container .description p{
    align-self: stretch;
    padding: 20px;
    color: var(--color-task-bg);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.skills .resource-container .skills-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.skills .resource-container .skills-display .skill-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.skills .resource-container .skills-display .skill-card img{
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.skills .resource-container .skills-display .skill-card span{
    color: var(--color-task-bg);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* PROJECTS */
.projects{
    background: var(--color-task);
}

.projects .resource-container .description .projects-title{
    border-radius: 12px;
    background: var(--color-tertiary);
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    color: var(--color-task-bg);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.projects .resource-container .description p{
    align-self: stretch;
    padding: 20px;
    color: var(--color-task-bg);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.projects .resource-container .projects-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.projects .resource-container .projects-display .project-card {
    flex: 1;
    max-width: 400px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--color-card);
}

.projects .resource-container .projects-display .project-card img {
    width: 100%;
    height: 180px;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    background: var(--color-task-bg) 50% / cover no-repeat;
}

.projects .resource-container .projects-display .project-card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.projects .resource-container .projects-display .project-card .card-content h2 {
    padding-top: 10px;
    color: var(--color-secondary);
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.projects .resource-container .projects-display .project-card .card-content p {
    width: 90%;
    color:  var(--color-task-bg);
    font-size: 14px;
    font-weight: 500;
}

.projects .resource-container .projects-display .project-card .card-content .technologies-used {
    color: var(--color-secondary);
    gap: 15px;
}

.projects .resource-container .projects-display .project-card .card-content .technologies-used span {
    font-size: 18px;
}

.projects .resource-container .projects-display .project-card .card-content .projects-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.projects .resource-container .projects-display .project-card .card-content .projects-buttons button {
    display: flex;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 0;
    color: var(--color-secondary);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projects .resource-container .projects-display .project-card .card-content .projects-buttons #site{
    background-color: var(--color-button);
}

.projects .resource-container .projects-display .project-card .card-content .projects-buttons #code{
    border: 1px solid var(--color-secondary);
    background-color: var(--color-card);
}

/* CONTACT */
.contact .contact-container{
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.title{
    border-radius: 12px;
    background: var(--color-tertiary);
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    color: var(--color-task-bg);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.contact .contact-container .description p{
    max-width: 576px;
    align-self: center;
    padding: 20px;
    color: var(--color-task-bg);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.contact .contact-container .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.contact .contact-container .contact-info .email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--color-secondary);
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.72px;
}

/* FOOTER */
footer{
    display: flex;
    padding: 24px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: var(--color-task-bg);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-top: 2px solid var(--color-button);
}
